* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7fc;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  display: flex;
}
.taskContainer {
  width: 422px;
  margin-left: 34px;
}
.splitter {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 200px;
}
.infoIcon {
  position: fixed;
  right: 50px;
  top: 110px;
}
.fixed {
  position: sticky;
  top: 0;
  background-color: #f4f7fc;
}
.progressContainer {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.progressContainer > div {
  margin-left: 34px;
}
