* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #f4f7fc;
  overflow-x: hidden;
}
.container {
  width: 100vw;
  display: flex;
}
.taskContainer {
  width: 25vw;
  margin-left: 3vw;
}
.splitter {
  width: 25vw;
  max-width: fit-content;
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding-bottom: 200px;
}
.infoIconContainer {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  padding-right: 6.5%;
}
.infoIcon {
  position: fixed;
}
.fixed {
  position: sticky;
  top: 0;
  background-color: #f4f7fc;
  z-index: 2;
}
.progressContainer {
  display: flex;
  align-items: center;
  /* gap: 10px; */
}
.progressContainer > div {
  margin-left: 34px;
}
@media screen and (max-width: 768px) {
  .taskContainer {
    width: 30vw;
  }
}
/*need a media query for 700px and below*/
@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    gap: 20px;
  }

  .splitter {
    padding-top: 0;
    flex-direction: row;
    overflow-x: scroll;
    width: 100vw;
    padding-bottom: 0;
    padding-inline: 5%;
  }
  .taskContainer {
    width: 100vw;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
