@import url("../../../fonts.css");

.progressCard {
  width: 25vw;
  background-color: #fff;
  height: 48px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  display: flex;
  align-items: center;
  position: fixed;
}
.icon {
  margin-left: 20px;
}
.title {
  margin-left: 20px;

  font-weight: 500;
  color: #4f4f4f;
  font-family: "HelveticaNeue, Medium";
  color: #212529;
  font-size: clamp(14px, 1.5vw, 18px);
  line-height: 21px;
}
