@import url("../../../fonts.css");

.progressCard {
  width: 422px;
  background-color: #fff;
  height: 48px;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 6px;
  display: flex;
  align-items: center;
}
.icon {
  margin-left: 20px;
}
.title {
  margin-left: 20px;
  font-size: 16px;
  font-weight: 500;
  color: #4f4f4f;
  font-family: "HelveticaNeue, Medium";
  color: #212529;
  font-size: 18px;
  line-height: 21px;
}
